@media (max-width: 600px) {
 html, body {
  margin: 0;             
  padding: 0;
  overflow-x: hidden;
}
 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6c5ce7;
  width: 100%;
  height: 50px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgb(240, 240, 246);
  font-family:'Poppins', sans-serif;
  position: relative;
  right: -30px;
  
}
.search-bar{
    left: -80px;
    position: relative;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    bottom: -50px;
    z-index: 999;
}
.menu-icon {
  font-size: 26px;
  cursor: pointer;
  position: relative;
  right: -190px;
  color: rgb(255, 255, 255)

}

.peanut i{
  position: relative;
  right: -60px;
  bottom: -10px;
  z-index: 1000;
  color:rgb(0, 0, 0);

}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: -250px; 
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 999;
}

.sidebar a {
  padding: 12px 24px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: 0.2s;
  z-index: 1000;
}

.sidebar a:hover {
  background: #575757;
}

.sidebar .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}
.sidebar a{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    position: relative;
right: -30px;
bottom: -40px;
}
 .peanut{
    width: 100%;
    height: 50px;
    background-color:#ddd ;
    position: relative;
    bottom: 0px;
 }
 .qr i{
  font-size: 25px;
  color: white;
  position: relative;
  right: -300px;
 }
 .section{
  background-color: #ffffff;
  border: 5px black;
  width: 100%;
  height: 200px;
 }


.icon-btn img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -35px;
  bottom: -20px;
  background-color: #fff;
 border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;
}
.icon-btn img:hover{
  border: 1px solid black; 
}
.icon-btn p{
position: relative;
right: -50px;
bottom:-8px;
font-family: 'Poppins', sans-serif;
font-size: 12px;
}
.icon-btn2 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -115px;
  top: -85px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;
}
.icon-btn2 img:hover{
  border: 1px solid black; 
}
.icon-btn2 p{
  position: relative;
  top: -97px;
  right: -128px;
  font-family: 'Poppins', sans-serif;
font-size: 12px;
}
.icon-btn3 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -193px;
  top: -190px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;}
  .icon-btn3 img:hover{
  border: 1px solid black; 
}
  .icon-btn3 p{
    position: relative;
    right: -207px;
    top: -202px;
    font-family: 'Poppins', sans-serif;
font-size: 12px;
  }
.icon-btn4 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -270px;
  top: -295px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;}
  .icon-btn4 img:hover{
  border: 1px solid black; 
}
.icon-btn4 p{
  position: relative;
  right: -285px;
  top: -308px;
  font-family: 'Poppins', sans-serif;
font-size: 12px;
}
.icon-btn5 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -270px;
  top: -305px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;}
  .icon-btn5 img:hover{
  border: 1px solid black; 
}
.icon-btn5 p{
  position: relative;
  top: -320px;
  right: -290px;
  font-family: 'Poppins', sans-serif;
font-size: 12px;
}
.icon-btn6 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -36px;
  top: -410px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;}
  .icon-btn6 img:hover{
  border: 1px solid black; 
}
.icon-btn6 p{
  position: relative;
  top: -425px;
  right: -45px;
  font-family: 'Poppins', sans-serif;
font-size: 12px;
}
.ixon-btn{
  border: black solid;
}
.icon-btn7 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -115px;
  top: -515px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;}
  .icon-btn7 img:hover{
  border: 1px solid black; 
}
.icon-btn7 p{
  position: relative;
  top: -529px;
  right: -128px;
  font-family: 'Poppins', sans-serif;
font-size: 12px;
}

.ixon-btn{
  border: black solid;
}
.icon-btn8 img{
  width: 60px;
  height:60px;
  border-radius: 5px;
  position: relative;
  right: -195px;
  top: -618px;
  background-color: #fff;
  border: 1px solid transparent; 
  transition: border 0.3s ease;   
  cursor: pointer;}
  .icon-btn8 img:hover{
  border: 1px solid black; 
}
.icon-btn8 p{
  position: relative;
  top: -633px;
  right: -210px;
  font-family: 'Poppins', sans-serif;
font-size: 12px;
}

.ixon-btn{
  border: black solid;
}
.banner{
  height: 200px;
  width: 100%;
  background-color: #ff7675;
  position: relative;
  top: -20px;
}
.banner h1{
  color: rgb(255, 255, 255);
  font-family: 'poppins', sans-serif;
  position: relative;
  right: -10px;
  font-size: 30px;
  font-weight: 900;
}
}
